.container, .pusher, .content, .content-inner
  height: 100%

.content
  overflow-y: scroll
  -webkit-overflow-scrolling: touch

.content,
.content-inner
  +columns(12)
  position: relative

.container
  position: relative

  +viewports(up-to medium)
    overflow: hidden
    -webkit-perspective: 1500px
    perspective: 1500px
    -webkit-perspective-origin: 0% 50%
    perspective-origin: 0% 50%

  +viewports(up-from medium)
    +columns(12)
    .mobile
      display: none


.pages
  +columns(12)
  position: relative
  height: 100%


  section
    padding-top: 1.2rem

    h2
      text-align: center

    span.primary
      display: inline-block
      padding: 2px 6px
      padding: 0 0px
      border-width: 0 0 3px 0
      border-style: solid
      border-color: #70b0eb

  +viewports(up-to medium)
    -webkit-perspective: 1200px
    -moz-perspective: 1200px
    perspective: 1200px

    section
      +columns(12, true)
      height: auto
      position: absolute
      top: 0
      left: 0
      visibility: hidden
      overflow: hidden
      backface-visibility: hidden
      -webkit-backface-visibility: hidden
      -moz-backface-visibility: hidden
      backface-visibility: hidden
      -webkit-transform: translate3d(0, 0, 0)
      -moz-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)
      -webkit-transform-style: preserve-3d
      -moz-transform-style: preserve-3d
      transform-style: preserve-3d

      &.pt-page-current
        visibility: visible
        z-index: 1

  +viewports(up-from medium)
    width: auto
    height: auto
    section
      // +columns(12, true)
      width: 768px
      height: 400px
      min-height: 500px
      padding-top: 55px
      visibility: visible
      .span4
        +columns(4)
      .span6
        +columns(6)
        &.offset1
          +columns(6, true)
      .span8
        +columns(8, true)
      .span12
        +columns(12)

      .span12
        text-align: right
      &.about
        h3
          margin-bottom: 0

      &.sorcery
        .right
          h2
            text-align: left
.connect
  padding: 0
  list-style: none

  li
    display: inline-block
    margin-bottom: -3px

    a
      display: block
      float: left
      line-height: 90%
      font-family: 'pictonic'
      font-size: 2rem
      padding: .2em .2em .15em .2em
      background: #eeeeee
      background-color: rgba(0, 0, 0, 0.1)
      &:hover
        background-color: #000
        color: #fff
      &.drupal:hover
        background-color: #29a8e0
      &.facebook:hover
        background-color: #3c5fac
      &.twitter:hover
        background-color: #5ec3df
      &.linkedin:hover
        background-color: #2089b5
      &.google:hover
        background-color: #c63d2d
      &.github:hover
        background-color: #000
      &.skype:hover
        background-color: #00aff0
      &.tumblr:hover
        background-color: #2C4762

// Resume
.history-unit
  padding-left: 20px
  margin-bottom: 30px
  border-width: 0 0 0 1px
  border-style: solid
  border-color: #70B0EB

  h4
    margin-bottom: 0px
    font-weight: 400
    font-size: 1rem //was 1.10em

  h4 .work-time
    float: right
    font-size: .9em
    border-width: 0 0 2px 0
    border-style: solid

  h5
    margin: .4em 0 1em
    font-weight: normal
    font-size: .9em
    padding-left: 9px
    border-width: 0 0 0 30px
    border-style: solid
    color: #999999

    span
      padding: 3px 6px


  h5.no-border
    border: none
    margin-bottom: 0
    margin-top: 23px
    padding-left: 0
    vertical-align: bottom

  h5, .history-unit h4 .work-time
    border-color: #eeeeee


span.black
  color: white
  background-color: black
  display: inline-block
  padding: 6px

.history-group
  h3
    font-size: 1.17rem

.icon-wh
  font-size: 3em
  float: left

.cv
  margin: 3em 0 3em

.page-ontop
  z-index: 999

.text-container

  h2
    font-size: 11vw
    margin-top: 0
    text-align: center
    text-shadow: 0px 2px 2px rgba(150, 150, 150, 1)


.pusher
  position: relative
  left: 0
  z-index: 99
  height: 100%
  -webkit-transition: -webkit-transform 0.5s
  transition: transform 0.5s
  -webkit-transform-style: preserve-3d
  transform-style: preserve-3d

  &::after
    position: absolute
    top: 0
    right: 0
    width: 0
    height: 0
    background: rgba(0,0,0,0.2)
    content: ''
    opacity: 0
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s

.profile-image
  margin-bottom: 20px
  text-align: center
  img
    width: 15rem
    border-radius: 50%
    -webkit-border-radius: 50%
    -moz-border-radius: 50%

.sorcery

  .span4
    text-align: center

  img
    width: 20%

  a
    color: #006699
    text-decoration: none

    &:visited
      color: #006699

    &:link
      color: #006699

.social

  .feed-item
    +columns(12)
    @include border-radius(.4em)
    margin-bottom: 1em
    border: 1px solid #e1e1e1
    position: relative
    padding: .5em
    -webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.31)
    -moz-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.31)
    box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.31)

    &.instagram
      border: none
      text-align: center

  i
    position: absolute
    top: -.5em
    left: -.3em
    font-size: 2em

    &.icon-instagram
      font-size: 1.7em
      top: -.4em

  img
    width: 15rem
    border-radius: 50%
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    padding: .4em
    background-color: rgba(255,255,255, 1)
    -webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.31)
    -moz-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.31)
    box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.31)


  +viewports(up-from medium)
    .feed-item
      +columns(4)
      padding: 1em
      margin: .5em
      min-height: 212px
    &.instagram



.hint

  position: fixed
  left: 0
  right: 0
  bottom: 100px

  background: rgba(0,0,0,0.5)
  color: #EEE
  text-align: center

  padding: 20px

  z-index: 100

  opacity: 0

  -webkit-transform: translateY(400px)
  -moz-transform:    translateY(400px)
  -ms-transform:     translateY(400px)
  -o-transform:      translateY(400px)
  transform:         translateY(400px)

  -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s
  -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s
  -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s
  -o-transition:      opacity 1s,      -o-transform 0.5s 1s
  transition:         opacity 1s,         transform 0.5s 1s
  p
    font-size: 3em
    margin: 0


.step-title + .hint

  opacity: 1

  -webkit-transform: translateY(0px)
  -moz-transform:    translateY(0px)
  -ms-transform:     translateY(0px)
  -o-transform:      translateY(0px)
  transform:         translateY(0px)

  -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s
  -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s
  -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s
  -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s
  transition:         opacity 1s 5s,         transform 0.5s 4.5s
